<div class="ui-general-container">
  <h1 class="titulo-todos">Barra de carga</h1>
  <p class="descripcion-todos">
    Barra progresiva que representa el avance de una tarea o carga de información.
  </p>
  <div class="volver-container">
    <span class="volver-text" (click)="volver()">
      <mat-icon class="flecha-atras">arrow_back</mat-icon>
      Volver
    </span>
  </div>
  <div class="card-loader">
    <div class="preview">
      <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    </div>
  </div>
  <ng-container *ngIf="tabs.length > 0; else loading">
    <app-view-sintaxis [tabs]="tabs"></app-view-sintaxis>
  </ng-container>
  <ng-template #loading>
    <app-loader-shared></app-loader-shared>
  </ng-template>
</div>