<app-header-categories *ngIf="mostrarHeader" [titulo]="'Imágenes'"
  [descripcion]="'Recursos gráficos oficiales para PAU.'"></app-header-categories>
<div class="ui-general-container">
  <div class="ejemplo-boton">
    <div class="card-boton">
      <div class="preview">
        <img src="assets/gane/g.png" alt="Logo Gane" class="preview-img-logo-gane" />
      </div>
      <button class="btn-primary ver-codigo" (click)="descargarImagen('assets/gane/g.png', 'g.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/gane/logo-gane-supergiros.png" alt="Fondo portal" class="preview-img-super-giros" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/gane/logo-gane-supergiros.png', 'logo-gane-supergiros.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/gane/Logo azul png_Mesa de trabajo 1.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/gane/Logo azul png_Mesa de trabajo 1.png', 'Logo azul png_Mesa de trabajo 1.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/gane/LogoPrincipal.png" alt="Fondo portal" class="preview-img-gane-amarillo" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/gane/LogoPrincipal.png', 'LogoPrincipal.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/gane/gane-corporativo.DaM0RPJk.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/gane/gane-corporativo.DaM0RPJk.png', 'gane-corporativo.DaM0RPJk.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/gane/boton-flotante-gane.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/gane/boton-flotante-gane.png', 'boton-flotante-gane.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/LOGO-CHANCEMILLONARIO.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/LOGO-CHANCEMILLONARIO.png', 'LOGO-CHANCEMILLONARIO.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/Sello_Autoriza_Coljuegos.-GsEyhyx.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/Sello_Autoriza_Coljuegos.-GsEyhyx.png', 'Sello_Autoriza_Coljuegos.-GsEyhyx.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/LOGO CHANCE.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/LOGO CHANCE.png', 'LOGO CHANCE.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/Acumulados-doblechance-fondo.png" alt="Fondo portal" class="preview-img-doble" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/Acumulados-doblechance-fondo.png', 'Acumulados-doblechance-fondo.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/LOGO-BALOTO REVANCHA.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/LOGO-BALOTO REVANCHA.png', 'LOGO-BALOTO REVANCHA.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/LOGO-MILOTO.png" alt="Fondo portal" class="preview-img-miloto" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/LOGO-MILOTO.png', 'LOGO-MILOTO.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/Logos-BetPlay-Positivo-Negativo.png" alt="Fondo portal" class="preview-img-betplay" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/Logos-BetPlay-Positivo-Negativo.png', 'Logos-BetPlay-Positivo-Negativo.png')">Descargar</button>
    </div>
    <div class="card-boton">
      <div class="preview">
        <img src="assets/juegos/Logo-Betplay.png" alt="Fondo portal" class="preview-img" />
      </div>
      <button class="btn-primary ver-codigo"
        (click)="descargarImagen('assets/juegos/Logo-Betplay.png', 'Logo-Betplay.png')">Descargar</button>
    </div>
  </div>
</div>