.titulo-todos {
  margin-top: 0;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.descripcion-todos {
  color: #4a5568;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 27px;
  font-family: 'Poppins', sans-serif;
} 