<div class="ui-general-container">
  <h1 class="titulo-todos">Todos</h1>
  <p class="descripcion-todos">
    Visualización completa de todos los componentes de la interfaz PAU. Esta sección muestra el catálogo completo de
    elementos disponibles para el desarrollo de módulos, incluyendo botones, tablas, formularios y otros elementos
    visuales con estilos consistentes.
  </p>
  <app-all-buttons [mostrarHeader]="false"></app-all-buttons>
  <app-all-tables [mostrarHeader]="false"></app-all-tables>
  <app-all-inputs [mostrarHeader]="false"></app-all-inputs>
  <app-all-icons [mostrarHeader]="false"></app-all-icons>
  <app-all-loader [mostrarHeader]="false"></app-all-loader>
  <app-all-colors [mostrarHeader]="false"></app-all-colors>
  <app-all-alerts [mostrarHeader]="false"></app-all-alerts>
  <app-all-cards [mostrarHeader]="false"></app-all-cards>
  <app-all-extras [mostrarHeader]="false"></app-all-extras>
  <app-all-images [mostrarHeader]="false"></app-all-images>
  <app-all-typography [mostrarHeader]="false"></app-all-typography>
</div>