<!-- 
Header UI Component
Puedes reutilizar este componete en muchos módulos del PAU, ya que todos tienen una cabecera con el nombre del módulo más una pequeña descripción.
 -->
<header class="head-ui-container">
  <a href="https://dev.azure.com/REDCOLSA/PAU/_git/Plantilla-front-PAU?version=GBfeature/Christian&_a=contents"
    target="_blank" rel="noopener noreferrer" class="header-action-link">
    <button class="header-action-btn" aria-label="Azure DevOps">
      <svg fill="#ffffff" width="20px" height="20px" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 11.865l2.995-3.953 11.208-4.557v-3.292l9.828 7.188-20.078 3.896v10.969l-3.953-1.141zM32 5.932v19.536l-7.672 6.531-12.401-4.073v4.073l-7.974-9.885 20.078 2.396v-17.26z" />
      </svg>
      <span class="azure-label">Azure DevOps</span>
    </button>
  </a>
  <div class="header-content">
    <h1>Elementos de la interfaz PAU</h1>
    <p>Biblioteca de componentes UI para el desarrollo de módulos dentro del portal PAU. Incluye botones, tablas,
      formularios y otros elementos visuales con estilos consistentes.</p>
  </div>
  <hr class="hr-style">
</header>