<app-header-categories *ngIf="mostrarHeader" [titulo]="'Tipografía'"
  [descripcion]="'Guía de estilos tipográficos para títulos, textos y elementos destacados.'"></app-header-categories>
<div class="ejemplo-typography">
  <div class="ui-general-container">
    <div class="typography-card">
      <h1>Encabezado H1 - Título Principal</h1>
      <div class="typography-desc">H1 · 2.5REM · 700</div>
    </div>

    <div class="typography-card">
      <h2>Encabezado H2 - Subtítulo</h2>
      <div class="typography-desc">H2 · 2REM · 600</div>
    </div>

    <div class="typography-card">
      <h3>Encabezado H3 - Sección</h3>
      <div class="typography-desc">H3 · 1.5REM · 600</div>
    </div>

    <div class="typography-card">
      <h4>Encabezado H4 - Subsección</h4>
      <div class="typography-desc">H4 · 1.25REM · 500</div>
    </div>
  </div>
</div>