<div class="ui-general-container">
  <h1 class="titulo-todos">Input búsqueda</h1>
  <p class="descripcion-todos">
    Campo de búsqueda con icono para filtrar o localizar información rápidamente.
  </p>
  <div class="volver-container">
    <span class="volver-text" (click)="volver()">
      <mat-icon class="flecha-atras">arrow_back</mat-icon>
      Volver
    </span>
  </div>
  <div class="card-input">
    <div class="preview">
      <mat-form-field class="vista-input" appearance="outline" style="width: 50%;">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Buscar...">
        <button mat-icon-button matSuffix class="btn-search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <ng-container *ngIf="tabs.length > 0; else loading">
    <app-view-sintaxis [tabs]="tabs"></app-view-sintaxis>
  </ng-container>
  <ng-template #loading>
    <app-loader-shared></app-loader-shared>
  </ng-template>
</div>